azure-core==1.30.1
azure-identity==1.15.0
accelerate==1.1.1
auto_gptq==0.7.1
datasets==2.20.0
docstring_parser==0.16
emoji==1.7.0
gguf==0.10.0
huggingface-hub==0.26.5
langchain==0.2.1
langchain-community==0.2.1
langchain-core==0.2.1
langchain-text-splitters==0.2.0
ninja==1.11.1.1
nltk==3.9.1
numpy==1.26.4
openai==1.54.3
pandas==2.2.2
pandasql==0.7.3
peft==0.11.1
python-dotenv==1.0.0
recognizers-text==1.0.2a2
recognizers-text-choice==1.0.2a2
recognizers-text-date-time==1.0.2a2
recognizers-text-number==1.0.2a2
recognizers-text-number-with-unit==1.0.2a2
recognizers-text-sequence==1.0.2a2
recognizers-text-suite==1.0.2a2
rpyc==6.0.1
safetensors==0.4.3
scipy==1.13.1
seaborn==0.13.2
sentencepiece==0.2.0
sglang==0.1.16
tqdm==4.66.4
transformers==4.44.1 
typing-inspect==0.9.0
typing_extensions==4.11.0
vllm==0.4.2
wikipedia==1.4.0
